/* body {
  background-color: black;
  z-index: -1;
  background-image: url(https://replit.com/@havishpallerla/All-In-One?from=notifications#Logo.png);

  .text::selection {
    color: #E84343;
  }

  .whiteboard_tools {
    display: block;
    padding: 12px 24px;
    color: #FEE6CD;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }


  link {
    color: #E84343;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #E84343;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #FEE6CD;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  a:active {
    color: #E84343;
    background-color: transparent;
    text-decoration: none;
  }
*/

.text {
  font-family: Rubber-Duck;
  color: #FEE6CD;
  font-size: 75px;
}

#whiteboard__toggle {
  opacity: 0;
}

#whiteboard__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#whiteboard__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#whiteboard__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#whiteboard__toggle:checked~.menu__box {
  left: 0 !important;
}

.whiteboard__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.whiteboard__btn>span,
.whiteboard__btn>span::before,
.whiteboard__btn>span::after {
  display: ;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transition-duration: .25s;
}

.whiteboard__btn>span::before {
  content: '';
  top: -8px;
}

.whiteboard__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #616161;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 1;
}

.tool {
  display: ;
  padding: 12px 24px;
  color: #424242;
  font-family: "Marker Felt", fantasy;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.tool:hover {
  /* background-color: #c7f6ff; */
  background-color: black;
  color: white;
  cursor: pointer;
}

.textareaimg {
  border: 1px solid red;
}

h1 {
  font-family: "Marker Felt", fantasy;
}

#createnew {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  top: 100px;
  z-index: 0;
}

* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.drawing-pad {
  position: relative;
}

canvas {
  border: 1px solid #000;
}

.tool2 {
  display: ;
  padding: 12px 24px;
  color: #4a4b54;
  font-family: "Marker Felt", fantasy;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

#homePage {
  background-color: #828282;
}

.cursor {
  background: #714141;
  position: center;
  cursor: url('marker.png'), auto;
}

.bg {
  text-align: center;
}

.save {
  display: none;
}

#bg {
  z-index: -1;
}

#coming-soon {
  z-index: 1;
  text-align: center;
  font-size: 75px;
}